<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterItems()" slot="start"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button #filterButton (click)="openFilters()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discover</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="filteredTeas.length > 0; else noTeas">
    <ion-card *ngFor="let tea of filteredTeas" class="custom-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <img [src]="tea.imageURL" class="custom-image" />
            </ion-col>
            <ion-col size="6" class="tea_img">
              <ion-card-title>{{ tea.name }}</ion-card-title>
              <ion-card-subtitle>{{ tea.category }}</ion-card-subtitle>
              
              <ion-button (click)="toggleFavorite(tea)" fill="clear">
                <ion-icon [name]="tea.favorite ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
              </ion-button>
          
              <ion-button (click)="toggleOwned(tea)" fill="clear">
                <ion-icon [name]="tea.owned ? 'checkmark' : 'add'"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noTeas>
    <div class="no-teas-message">
      No available teas in this category.
    </div>
  </ng-template>
</ion-content>
