<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="teas.length > 0; else noTeas">
    <ion-card *ngFor="let tea of teas" class="custom-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-card-title>{{ tea.name }}</ion-card-title>
              <ion-card-subtitle>{{ tea.type }}</ion-card-subtitle>
              <img [src]="tea.image" (click)="navigateToTea(tea)" class="custom-image" />
            </ion-col>
            <ion-col size="6">
              <div class="timer-container">
                <div class="timer-circle">
                  <div class="timer-text">{{ teaTimers[tea.id!.toString()].displayMaxTime }}</div>
                </div>
                <div class="controls">
                  <ion-button *ngIf="!teaTimers[tea.id!.toString()].timerMaxRunning && !teaTimers[tea.id!.toString()].timerMaxStopped" (click)="teaTimers[tea.id!.toString()].startMaxTimer()" class="timer_button">Start</ion-button>
                  <ion-button *ngIf="teaTimers[tea.id!.toString()].timerMaxRunning && !teaTimers[tea.id!.toString()].timerMaxStopped" (click)="teaTimers[tea.id!.toString()].pauseMaxTimer()" class="timer_button">Pause</ion-button>
                  <ion-button *ngIf="teaTimers[tea.id!.toString()].timerMaxStopped" (click)="teaTimers[tea.id!.toString()].continueMaxTimer()" class="timer_button continue">Continue</ion-button>
                  <ion-button *ngIf="teaTimers[tea.id!.toString()].timerMaxRunning" (click)="teaTimers[tea.id!.toString()].resetMaxTimer()" class="timer_button">Reset</ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noTeas>
    <div class="no-teas-message">
      No favourite owned teas.
    </div>
  </ng-template>
</ion-content>
