<ion-content scroll-y="false">
  <div class="login-container">
    <h1 class="title">Sign In</h1>
    <ion-item lines="full" class="input-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginForm.email"></ion-input>
    </ion-item>

    <ion-item lines="full" class="input-field">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="login-button">Sign In</ion-button>

    <p class="signup-link">Don't have an account? <a routerLink="/signup" class="signup-button">Sign Up</a></p>
  </div>
</ion-content>
