<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timer" href="/tabs/timer">
      <ion-icon aria-hidden="true" name="hourglass-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="cafe-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
